<div class="game-detail-container" *ngIf="game">
  <div class="game-content">
    <img [src]="game.url" alt="{{ game.title }}" class="game-detail-image">
    <button class="pink-button" (click)="removeClick()">Remove</button>
  </div>
  <div class="game-detail-description">
    <h1>{{ game.title }}</h1>
    <p class="font_ligth"><strong class="cinza">realeased on </strong> {{ game.releaseDate | date }}</p>
    <p class="azul">{{ game.description }}</p>
  </div>
  <div class="game-detail-info">
    <p class="game-detail-info-by-component"><strong class="cinza">Genre:</strong> {{ game.genre }}</p>
    <p class="game-detail-info-by-component"><strong class="cinza">Price:</strong> {{ game.price | currency }}</p>
    <p class="game-detail-info-by-component"><strong class="cinza">Rating:</strong> {{ game.rating }}</p>
  </div>
</div>
