<header>
    <div class="logo">
        <a href="/"><h1>Gamelogg</h1></a>
    </div>

    <nav>
        <div class="user-prof" *ngIf="logged">
            <a href="/profile">
                <img src="{{userProfile}}" alt="{{username}}">
                <h1>{{username}}</h1>
            </a>
        </div>

        <div class="account-buttons" *ngIf="!logged">
            <button>Log in</button>
            <button>Register</button>
        </div>

        <button><a href="/">Games</a></button>

        <input type="text" placeholder="Search a game">
    </nav>
</header>