<div class="container">
  <div class="game-container">
    <div *ngFor="let game of games" class="game-card">
      <a [routerLink]="['/games', game.name]">
        <img [src]="game.image" alt="{{ game.name }}" class="game-image">
        <h3 class="game-title">{{ game.name }}</h3>
      </a>
      <p class="game-info"><strong>Genre:</strong> {{ game.genre }}</p>
      <p class="game-info"><strong>Release Date:</strong> {{ game.releaseDate | date }}</p>
      <p class="game-info"><strong>Price:</strong> {{ game.price | currency }}</p>
      <p class="game-info"><strong>Rating:</strong> {{ game.rating }}</p>
    </div>
  </div>
  
</div>
