<section class="sections">
    <button (click)="changePageSection(0)">Profile</button>
    <button (click)="changePageSection(1)">Played</button>
    <button (click)="changePageSection(2)">Favorites</button>
    <button (click)="changePageSection(3)">Games by status</button>
    <button (click)="changePageSection(4)">Add game</button>
</section>

<section class="personal-info" *ngIf="index == 0">
    <div class="bio">
        <img src="{{userProfile}}">
        <h1 id="user-name">John Doe</h1>
        <h1>Bio</h1>
        <p>{{userBio}}</p>
    </div>

    <div class="last-games">
        <h1>Last games</h1>

        <div class="games-container">
            <div *ngFor="let game of games | slice:0:4" class="game-card">
                  <img [src]="game.url" alt="{{ game.title }}" class="game-image">
                  <h3 class="game-title">{{ game.title }}</h3>
            </div>
        </div>
    </div>

    <div class="top-games">
        <h1>Top games</h1>
        <div>
            <div class="game-card" *ngFor="let game of topGames">
                <img [src]="game.url" class="game-image">
                <h3 class="game-title">{{ game.title }}</h3>
            </div>
        </div>
    </div>
</section>

<section class="played" *ngIf="index == 1">
    <div class="game-container">
        <div *ngFor="let game of games" class="game-card">
            <a [routerLink]="['/games', game.title]">
                <img [src]="game.url" alt="{{ game.title }}" class="game-image">
                <h3 class="game-title">{{ game.title }}</h3>
            </a>
        </div>
    </div>

    <div class="pagination">
        <button *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="i === currentPage"
                (click)="changePage(i, 'played')">
          {{ i + 1 }}
        </button>
      </div>
</section>

<section class="favorites" *ngIf="index == 2">
    <div class="game-container">
        <div *ngFor="let game of favoriteGames" class="game-card">
            <a [routerLink]="['/games', game.title]">
                <img [src]="game.url" alt="{{ game.title }}" class="game-image">
                <h3 class="game-title">{{ game.title }}</h3>
            </a>
        </div>
    </div>

    <div class="pagination">
        <button *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="i === currentPage"
                (click)="changePage(i, 'favorites')">
          {{ i + 1 }}
        </button>
      </div>
</section>

<section class="by-status" *ngIf="index == 3">
    <div class="buttons">
        <button (click)="getByStatus(0)">Completed</button>
        <button (click)="getByStatus(1)">In progress</button>
        <button (click)="getByStatus(2)">Not started</button>
    </div>

    <div class="game-container">
        <div *ngFor="let game of gameByStatus" class="game-card">
            <a [routerLink]="['/games', game.title]">
                <img [src]="game.url" alt="{{ game.title }}" class="game-image">
                <h3 class="game-title">{{ game.title }}</h3>
            </a>
        </div>
    </div>

    <div class="pagination">
        <button *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="i === currentPage"
                (click)="changePage(i, 'by-status')">
          {{ i + 1 }}
        </button>
    </div>
</section>

<section class="add-game" *ngIf="index == 4">
    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title:</label>
            <input id="title" formControlName="title">
        </div>
        <div>
            <label for="url">Image/banner:</label>
            <input id="url" formControlName="url">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description"></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input id="price" type="number" formControlName="price">
        </div>
        <div>
            <label for="rating">Rating:</label>
            <input id="rating" type="number" formControlName="rating">
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input id="genre" formControlName="genre">
        </div>
        <div>
            <label for="releaseDate">Release Date:</label>
            <input id="releaseDate" type="date" formControlName="releaseDate">
        </div>
        <div>
            <label for="favorite">Favorite:</label>
            <input id="favorite" type="checkbox" formControlName="favorite">
        </div>
        <div>
            <label for="status">Status:</label>
            <input id="status" formControlName="status">
        </div>
        <div>
            <label for="developer">Developer:</label>
            <input id="developer" formControlName="developer">
        </div>
        <div>
            <label for="publisher">Publisher:</label>
            <input id="publisher" formControlName="publisher">
        </div>
        <button type="submit">Submit</button>
    </form>
</section>
