@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
         url('/assets/fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
    

  body {
    margin: 0px;
    display: block;
    background-color: #2b2b2b;
    color: white;
    font-family: 'Inter', sans-serif;
    }
  